.PostImageViewContainer {
    border: 1px #dbdbdb;
    height: auto;
    cursor: pointer;
}

.PostImagePotrait {
    width: 100%;
    display: block;
}


.PostImageLandscape {
    height: 100%;
    width: auto;
    cursor: pointer;
}